@import "utils/fonts";
@import "utils/mixins";
@import "utils/normalize";
@import "utils/bootstrap_base";

@import "utils/layout_helpers";

$font-stack: 'Pier Sans', sans-serif;
$floatie-blue: #A4E1F4;
$floatie-blue-dark: #7AD8F2;
$fl-sand: #FFF5BC;
$fl-wetsand: #ffeeaf;
$fl-sandStone: #C56B36;
$fl-brown: #805329;

body {
  font-family: $font-stack;
  background: $fl-sand;
  color: $fl-brown;
  @include min-bp(960px) {
    font-size: 16px;
  }
}

@import "home";
@import "speak";
